* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
}

nav {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}

.left-nav {
    display: flex;
}

.logo {
    color: rgb(127, 192, 30);
}

.mid-nav {
    display: flex;
    gap: 1rem;
}

.right-nav {
    display: flex;
    gap: .5rem;
}

header {
    padding-left: 2rem;
}

main {
    display:flex;
    justify-content: space-around;
}

.items-box {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items-card {
    display: flex;
    gap: 1rem;
}

.del-icon i{
    position: relative;
    top: 85%;
}

.item-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}