* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
}

nav {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}

.left-nav {
    display: flex;
}

.logo {
    color: rgb(127, 192, 30);
}

.mid-nav {
    display: flex;
    gap: 1rem;
}

.right-nav {
    display: flex;
    gap: .5rem;
}

header {
    padding-left: 8rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

main {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 5rem;
    padding: 2rem;
}

.items-box {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items-card {
    display: flex;
    gap: 1.5rem;
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.1);
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 5px;
}

.trash-icon i {
    position: relative;
    top: 50%;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid rgb(119, 118, 118);
    padding: 4px;
}

.item-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: grey;
}

.item-img {
    width: 200px;
    height: 200px;
    background: rgb(255, 145, 0);
    background: linear-gradient(112deg, rgba(255, 145, 0, 1) 0%, rgba(232, 225, 14, 1) 100%, rgba(164, 150, 14, 1) 100%);
    border-radius: 10%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 1rem;
    color:white;
    gap: 1rem;
}

.item-img span {
    width: 1rem;
    background-color: white;
    padding: 2px;
    color: rgb(255, 145, 0);
    border-radius: 5px;
}

.rating-box {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.rating-box p {
    font-size: 24px;
    font-weight: bold;
}

.price {
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.order-form {
    width: 30vw;
    height: 60%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid gainsboro;
    font-size: 20px;
    padding: 2rem 1rem;
    font-weight: bold;
}

.subtotal-box {
    display: flex;
    justify-content: space-between;
}

.promotioncode-box {
    display: flex;
    justify-content: space-around;
}

.promotioncode-box .text {
    width: 60%;
    border-radius: 5px;
    border: 1px solid gainsboro;
    padding: 5px 3px;
}

.apply-btn {
    width: 30%;
    padding-top: 3px;
    padding-bottom: 3px;
    color: Turquoise;
    background-color: white;
    border-radius: 5px;
    border: 1px solid Turquoise;
}

.payment-box {
    display: flex;
    justify-content: space-between;
}

.payment-num {
    color: Aquamarine;
    font-size: 26px;
    font-weight: bolder;
}

.login-btn {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: Aquamarine;
    border: none;
    border-radius: 5px;
}

